* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --violetita: #8c48bf;
    --blanquito: #FFFFFF;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;
    padding: 65px 165px;
    margin-bottom: 50px;
}
.nav-principal a{
    color: #242E52;
}

.ul-nav-principal{
    display: flex;
    font-weight: 500;
    gap: 28px;
}

.btn-contact a{
    background-color: var(--violetita);
    color: var(--blanquito);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12;
    padding: 12px 50px;
}

.separador-superior{
    padding: 30px 0;
}

.section-hero{
    display: flex;
    padding: 0px 175px 50px;
}

.imagen-padel{
    align-self: center;
    padding-right: 50px;
    
}

.textos-banner{
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    padding-left: 40px;
    text-align: right;
    gap: 5px;
}

.texto-grande-banner{
    color: #232C50;
    font-size: 25px;
}

.texto-chico-banner{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 30px;
}

.subtitulo {
    background: var(--violetita);
    color: var(--blanquito);
    display: flex;
    padding: 40px 170px;
    justify-content:space-between;
    align-items: center;
}

.subtitulo_grande{
    font-weight: bold;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    font-size: 29px;
    width: 450px;
    height: 88px;
}

.subtitulo_chico{
    font-weight: 400;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
    width: 450px;
    height: 88px;
}

/* Aca empieza el codigo para la parte de las tarjetas, debajo del banner de color Morado */
  
  .section-tarjetas {
    padding: 40px 150px;
    display: flex;
    background-color: #FAFAFA;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .tarjeta {
    max-width: 480px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .numero {
    background-color: #8b48bf;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    border-radius: 50px;
    align-self: flex-start;
  }
  
  .titulo {
    font-weight: bold;
    padding-top: 10px;
  }
  
  .div-titulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .texto{
    color:#B3B2B7;
    font-weight: 400;
  }
  
  /* Sección destacados / personas destacadas en la parte inferior, en 3 tarjetas con su nombre y descripción*/

  .subtitulo_inferior{
    color: #242E53;
    font-size: 23px;
    padding-top: 5rem;
    padding-bottom: 7rem;
    text-align: center;
    font-weight: bold;
  }

  .tarjetas_destacados{
    display: flex;
    position: relative;
    text-align: center;
    padding: 0 50px;
  }

  .titulo_nombre{
    font-weight: bold;
    color: #3F4868;
  }

  .texto_tarjeta1, .texto_tarjeta2, .texto_tarjeta3{  
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    background-color: #FAFAFA;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }

  .destacado{
    position: relative;
  }

  .destacado img{
    position: absolute;
    top: -19%;
    left: 41.5%;
  }

  .texto_destacado{
    display: flex;
    color: #B9B9C1;
  }

.div-more{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.btn-more{
  background-color: var(--violetita);
  color: var(--blanquito);
  border-radius: 50px;
  font-weight: 500;
  font-size: 13.18;
  padding: 12px 50px;
}

.footer-violeta{
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--violetita);
  padding: 60px;
}

.footer-violeta p{
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}

.footer-violeta a{
  background-color: var(--blanquito);
  color: var(--violetita);
  border-radius: 50px;
  font-weight: 500;
  font-size: 13.18;
  padding: 12px 50px;
}

/* footer parte inferior de color azul oscuro */

.widgets{
  display: flex;
  background-color: #1E1E26;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 220px;
}

.logo-inferior{
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: -20px;
}

.redes-sociales{
  display: flex;
  padding-top: 20px;
  gap: 15px;
}

.home-menu1 a,.home-menu2 a{
  color: #FFFFFF;
  font-weight: 400;
  line-height: 38px;
  font-size: 13px;
}

.form-copyright input{
  color: #1E1E26;
  text-align: left;
  border-radius: 100px;
  background-color: #FFFFFF;
  border-style: none;
  padding: 12px 12px;
}

.btn-go{
  padding: 12px 25px;
  border-radius: 100px;
  border-style: none;
  cursor: pointer;
  background-color: var(--violetita);
  color: #FAFAFA;
}

.form-copyright p{
  display: flex;
  padding-top: 100px;
  padding-left: 40px;
  font-size: 12px;
  color:#8C8C94;
  font-weight: 400px;
}

/* Media query con resolución mobile */

@media (max-width: 480px){

  /* Sección de tarjetas con números */

  .section-tarjetas {
    padding: 20px 0 10px 10px;
  }
  .tarjeta {
    display: block;
    position: relative;
  }

  .numero {
    position: absolute;
    top: 0;
    left: 0;
  }

  .titulo {
    background-color: rgba(139, 72, 191, 0.3);
    padding: 10px 0 10px 120px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .texto {
    padding: 30px 28px 30px 44px;
  }
}