* {
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root {
    --violetita: #8c48bf;
    --blanquito: #FFFFFF;
}

.header-top{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;
    padding: 65px 165px;
    border-style: dotted;
}
.nav-principal a{
    color: #242E52;
}

.ul-nav-principal{
    display: flex;
    font-weight: 500;
    gap: 28px;
}

.btn-contact a{
    background-color: var(--violetita);
    color: var(--blanquito);
    border-radius: 50px;
    font-weight: 500;
    font-size: 13.18;
    padding: 12px 50px;
}

